nav{
    background-color: #CCC;
}
.container{
    margin-top: 50px;
}

.col-xs-12{
    margin-bottom: 30px;
}

.card-img-padding-modifier{
    padding: 10px 0 ;
}

footer{
    color: white;
    background-color: #3c3c3c;
}




/*Servicios*/
.text_modifier{
    text-align: justify;
}
.titulo_servicios{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}